/* Override sizes using max/min attributes */
/* Path to tab bar container:
#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div
NB each div within this container is a tab

document.querySelector('#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div');
returns: <div id=​"tabbar-1137-targetEl" style=​"position:​absolute;​width:​20000px;​left:​0px;​top:​0px;​height:​1px">​…​</div>​

#tabbar-1137-targetEl => #editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div
#tabbar-1137-innerCt => #editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body
#tabbar-1137-body => #editors > div.x-tab-bar > div.x-tab-bar-body
#tabbar-1137 => #editors > div.x-tab-bar

*/

#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body,
#editors > div.x-tab-bar > div.x-tab-bar-body,
#editors > div.x-tab-bar,
#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div
{
    position: absolute;
    max-width: 240px;
    min-width: 240px;
    min-height: 900px;
}


/* Make the tab sidebar full height */

#editors > div.x-tab-bar
{
    height: 100%;
}


/* Make the tab container flexboxable */

#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div
{
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
}


/* Make the tab container a flexbox */

#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body
{
    display: flex;
    flex-direction: column;
}


/*
 * Hides the scrollbars and some of the cosmetic bits
 */

div.x-box-inner.x-box-scroller-right,
div.x-box-inner.x-box-scroller-left {
    display: none;
}


/* The tab blocks */

#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div > .x-box-item
{
    display: block !important;
    position: static !important;
    overflow-x: hidden;
    min-width: 238px;
    max-width: 238px;
    flex: none;
}


/*
 * The text in the tab is a button
 */

#tabbar-1137-targetEl>div>em>button>span {
    max-width: 238px;
    margin-right: 14px;
}


/*
 * The 'x' link that closes the tab
 */
#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div a.x-tab-close-btn
 {
    display: block !important;
    position: static !important;
    float: right;
    margin-top: -15px;
    z-index: 5;
}

/*
 * The clickable tab selector is a button.
 * We make it fill the container
 */
#editors > div.x-tab-bar > div.x-tab-bar-body > div.x-horizontal-box-overflow-body > div > em > button
{
    width: 100%;
}

/*
 * Pushes the main editor panel to the right so it doesn't squash
 * the tab sidebar.
 */

#editors-body
{
    display: block !important;
    position: static !important;
    float: left;
    padding-left: 240px;
    border-bottom: none;
}